<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="block">
        <h1>Graphical User Interface</h1>
        <h3>Details:</h3>
        <div class="details">
            <strong> Number of images</strong><br>{{images}}<br><br>
            <strong> Start date</strong> <br> {{star_date}}<br><br>
            <strong>End date</strong> <br> {{end_date}}<br><br><br>
        </div>

        <form action="/submit" method="post" class="input-text">
            <b>Enter the range of dates you would like to see:</b>
            <br>
            <input type="date" name="date1" placeholder="First date" class="entry">
            <br>
            <input type="date" name="date2" placeholder="Second date" class="entry">
            <br>
            <button type="submit" class="btn-go">Go</button>
        </form>

        <div class="block-1">
            <a href="/status" class="btn-status">Check Status</a>
        </div>
        <div>
            <form action = "/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
        
            </form>
        </div>
    </div>

    <div class = "block">
        <h1>Number of Pictures Taken on Each Date</h1>
    <div id="plot-container">{{ plot_url_time|safe }}</div>
    </div>
    <div class = "block">
        <h1>Interactive Scatter Plot of Picture Taken Times</h1>
        <div id="plot-container">{{ plot_html|safe }}</div>
    </div>
        
</body>

</html>