<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
       
</head>

<body>
    

    <div class = "block">
        <a href="/" class="btn-back">Back</a>
        <h1>Number of Pictures Taken on Each Date</h1>
    <div id="plot-container">{{ plot_url_time|safe }}</div>
    </div>
    <div class = "block">
        <h1>Interactive Scatter Plot of Picture Taken Times</h1>
        <div id="plot-container">{{ plot_html|safe }}</div>
    </div>
        
    
    

</body>

</html>