<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <div class="block">
        <h1>Graphical User Interface</h1>
        <h3>Details:</h3>
        <div class="details">
            Number of images = {{images}}<br>
            Start date = {{star_date}}<br>
            End date = {{end_date}}<br><br>
        </div>

        <form action="/submit" method="post" class="input-text">
            Enter the number of images you would like to see:
            <br>
            <input type="text" name="user_input" placeholder="Number of images" class="entry">
            <br>
            <br>
            <button type="submit" class="btn-go">Go</button>
        </form>

        <div class="block-1">
            <a href="/status" class="btn-status">Check Status</a>
        </div>
    </div>

</body>

</html>